<%include partials/header%>
<h1>Add a new ground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Enter image name">
    <input type="text" name="img" placeholder="Enter Image url">
    <button>Submit</button>
</form>

<a href="/campgrounds"><button>Go Back</button></a>
<%include partials/footer%>